*{
    margin: 0px;
    padding: 0px;


}
nav{
    width:100%;
    
    height: auto;
    line-height: 75px;
    padding: 0px ;
    position: fixed;
    background-image: linear-gradient(#033747, #012733);
}
nav .logo p{
    font-size: 30px;
    padding: 30px;
    font-weight: bold;
    float: left;
    color: aliceblue;
    text-transform: uppercase;
    letter-spacing: normal;
    cursor: pointer;

}
nav ul{
    float: right;
    padding: 30px;

}
nav li{
    display: inline-block;
    list-style: none;
}
nav li a{
    font-size: 18px;
    text-transform: uppercase;
    color:aqua;
    padding: 0px 7px;
   
}
nav li a:hover{
    color: blue;
    transition: all ease 0s;
}

.navItems img{
    width:100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}